.about{
    width: 1200px;
    height: 550px;
    top: -25px;
    margin: 0px auto 10px;
    position: relative;
    background-image: url(../../images/paper2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}