.about{
    width: 1200px;
    height: auto;
    top: -25px;
    margin: 0px auto 10px;
    padding: 20px 50px;
    position: relative;
    background-image: url(../../images/paper2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.about__container{
    width: 50%;
    margin: 0 auto 0 20%;
}
.about__local-img{
    margin: 40px 0 0px;
    width: 70%;
}
.about__title{
    margin: 10px 0 10px 0;
    font-family: "WEST____";
    font-size: 50px;
    color: rgb(165, 0, 0);
    text-shadow: -1px 1px 1px #030303;
}
.about__text{
    font-family: "OldStandard-Regular";
    font-size: 18px;
    color: #000000;
}
.about__btn-to-menu{
    display: inline-block;
    color: black;
    border: 2px solid rgb(73, 73, 73);
    // background-color: rgb(165, 0, 0);
    padding: 5px 15px 0px;
    margin-bottom: 40px;
    font-size: 24px;
    text-decoration: none;
    font-family: "OldStandard-Regular";
}
.about__product-img1{
    position: absolute;
    height: auto;
    width: 370px;
    bottom: 21%;
    right: -10px;
    transform: rotate(-40deg);
    -webkit-filter: drop-shadow(-3px 1px 15px #222 );
    filter: drop-shadow(0px 5px 10px rgba(34, 34, 34,0.5));
  
}
.about__product-img2{
    position: absolute;
    height: auto;
    width: 220px;
    top: 50px;
    left: 30px;    
    // transform: rotate(70deg);
    // -webkit-filter: drop-shadow(-3px 1px 15px #222 );
    // filter: drop-shadow(0px 0px 4px rgba(148, 112, 112, 0.5));
}