@font-face {
    font-family: "WEST____";
    src: url(../fonts/WEST____.TTF);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "OldStandard-Regular";
    src: url(../fonts/OldStandard-Regular.ttf);
    font-weight: 700;
    font-style: normal;
}

body{
    background-image: url(../../images/66.jpg);
    background-repeat: repeat-y;
    background-position: 0 40%;
    background-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    // &::before{
    //     content: "";
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     left: 0;
    //     z-index: -1;
    //     background-image: url(../../images/gradient.png);
    //     background-repeat: no-repeat;
    //     background-size: 100% 100%;
    // }
}
body *{
    box-sizing: border-box;
}