
.delivery{
    width: 1200px;
    height: auto;
    margin: 80px auto 120px;
    padding: 0;
    position: relative;
    text-align: center;
}
.delivery__title{
    font-family: "WEST____";
    font-size: 40px;
    color: $red-color;
    text-shadow: -1px 1px 1px #030303;
    position: relative;
    flex: 0 1 100%;
    &::before{
        content: "";
        position: absolute;
        height: 80px;
        width: 460px;
        background-image: url(../../images/deska.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.delivery__container{
    position: relative;
    height: auto;
    height: 100%;
    width: 100%;
    padding: 50px;
    margin: 100px auto 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}
.delivery__title{
    margin: 40px 0;
    flex: 0 1 100%;
}
.delivery__cont-about{
    font-size: 24px;
    flex: 0 1 60%;
    line-height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.delivery__desc{
    font-family: "WEST____";
    font-size: 38px;
    margin: 10px auto;
}
.delivery__desc-gratis{
    font-style: italic;
}
.delivery__phone{
    text-decoration: none;
    font-weight: 700;
    color: rgb(165, 0, 0);
    text-shadow: -1px 1px 1px #fafafa;
}
.delivery__cont-cash{
    flex: 0 1 40%;
    display: flex;
    align-content: center;
    align-items: center;

}
.delivery__cash-img{
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.delivery__cash-desc{
    
}