
.delivery{
    max-width: 1200px;
    height: auto;
    margin: 80px auto 120px;
    padding: 0;
    position: relative;
    text-align: center;
    @include phone{
        margin: 10px auto;
    }
}
.delivery__title{
    @include title-style;
    
    &::before{
        content: "";
        position: absolute;
        height: 80px;
        width: 110%;
        background-image: url(../../images/deska.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    @include phone{
        font-size: 30px;
        margin: 0 20px;
    }
    
}
.delivery__container{
    position: relative;
    height: auto;
    height: 100%;
    width: 100%;
    padding: 50px;
    margin: 100px auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    
    @include phone{
        margin: 50px auto;
        flex-wrap: wrap;
        padding: 30px 10px;
    }
}
// .delivery__title{
//     margin: 40px 0;
//     flex: 0 1 100%;
// }
.delivery__cont-about{
    font-size: 24px;
    flex: 0 1 60%;
    line-height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include phone{
        flex: 0 1 100%;
        order: 2;
    }
}
.delivery__desc{
    font-family: "WEST____";
    font-size: 38px;
    margin: 10px auto;
    position: relative;
}
.delivery__desc-gratis{
    font-style: italic;
    @include phone{
        font-size: 20px;
        line-height: 28px;
    }
}

.delivery__phone{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: rgb(165, 0, 0);
    text-shadow: -1px 1px 1px #fafafa;
    white-space: nowrap;
}
.delivery__icon{
    display: inline-block;
    align-self: center;
    width: 38px;
    height: 38px;
    margin: 6px 7px;
    font-size: 20px;
    line-height: 38px;
    border: none;
    border-radius: 50%;
    background-color:rgb(165, 0, 0);
    color: white;
}
.delivery__cont-cash{
    flex: 0 1 40%;
    display: flex;
    align-content: center;
    align-items: center;
    @include phone{
        flex: 0 1 100%;
        order: 1;
    }

}
.delivery__cash-img{
    width: 70%;
    min-width: 180px;
    height: auto;
    margin: 0 auto;
    @include phone{
        width: 60%;
    }
}
.delivery__cash-desc{
    
}