.contact{
    max-width: 1200px;
    height: auto;
    margin: 80px auto 0px;
    padding: 0;
    position: relative;
    text-align: center;
    @include phone{
        margin: 10px auto 0px;
    }
}
.contact__title{
    @include title-style;
    &::before{
        content: "";
        position: absolute;
        height: 80px;
        width: 110%;
        background-image: url(../../images/deska.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include phone{
            // width: 90%;
        }
    }
    @include phone{
        font-size: 30px;
        margin: 0 20px;
    }
}
.contact__container{
    position: relative;
    height: auto;
    height: 100%;
    width: 100%;
    padding: 50px;
    margin: 100px auto 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.904);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    @include phone{
        margin: 50px auto 0;
        flex-wrap: wrap;
        padding: 20px;
        -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    }
}
.contact__element{
    // height: auto;
    flex: 0 1 50%;
    margin: 5px;
    position: relative;
    @include phone{
        flex: 0 1 100%;
    }
}
.contact__element--map{
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    @include phone{
        height: 300px;
    } 
}
.contact__element--info{
}
.contact__hours-title{
    @include phone{
        margin: 10px auto;
    } 
    
}
.contact__hours-list{
    padding: 0;
    @include phone{
        margin: 10px auto;
    } 
}
.contact__hours-item{
    list-style: none;
}
.contact__hours-title{
    color: $red-color;
    letter-spacing: 1px;
}
.contact__address{
    font-style: normal;
}
.contact__mail{
    color: white;
}
.contact__phone{
    color: white;
}
.contact__copyright{
    background-color: rgba(0, 0, 0, 0.212);
    // width: auto;
    color: white;
    padding: 2px;
    margin: 2px;
}
.contact__author{
    color: rgb(255, 173, 136);
    text-decoration: none;
}