.header{
    height: 400px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background-image: url(../../images/uduzegokowboja.png);
    

    background-position: bottom;
    background-size: 95% auto;
    background-repeat: no-repeat;
    &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        z-index: -1;
        background-image: url(../../images/flame.png);
        
        //   linear-gradient(to top, rgba(248,80,50,1) 0%, rgba(252,182,169,0) 88%, rgba(255,255,255,0) 100%);
        background-repeat: no-repeat;
        background-size: 85% 90%;
        background-position: bottom;
    
    }
}