.header{
    height: 350px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background-image: url(/images/uduzegokowboja.png);
    background-position: bottom;
    background-size: 95% auto;
    background-repeat: no-repeat;
}