.menu{
    max-width: 1200px;
    height: auto;
    margin: 80px auto 20px;
    padding: 0;
    position: relative;
    text-align: left;
}
.menu__title{
    font-family: "WEST____";
    font-size: 50px;
    color: $red-color;
    text-shadow: -1px 1px 1px #030303;
    position: relative;
    text-align: center;
    display: inline-block;
    flex: 0 1 100%;
    &::before{
        content: "";
        position: absolute;
        height: 80px;
        width: 120%;
        background-image: url(../../images/deska.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include phone{
            width: 90%;
        }
    }
    @include phone{
        width: 100%;
    }
}
.menu__container{
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 10px;
    margin: 120px auto 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu__frame{
    height: 100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    position: relative;
    padding: 40px;
    @include phone{
        padding: 15px;
    }
}

.menu__set-title
{
margin: 40px 0;
font-family: "WEST____";
    font-size: 40px;
    color: $red-color;
    text-shadow: -1px 1px 1px #030303;
    @include title-border;
}

.menu__set-img{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: auto;
    @include phone{
        top: -100px;
        width: 250px;
    }
}
.menu__set-img--box{
    width: 230px;
    top: -140px;
    @include phone{
        top: -180px;
        width: 180px;
    }
}
.menu__list{
    list-style: none;
    padding: 0;
}
.menu__item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px 0 0;
    font-size: 24px;
    font-weight: bold;
}
.menu__prod-name{
    display: inline-block;
    margin: 0;
    padding: 0;
    @include title-color;
    @include phone{
        font-size: 20px;
    }
    
}
.menu__prod-dots{
    flex: 1;
//   border-bottom: 2px dotted rgb(255, 255, 255);
//   letter-spacing: 5px;
  margin: 0;
  padding: 0 7px;
  position: relative;
  overflow: hidden;

  &::before{
          content: "...........................................................................................................................................................................................................................";
        letter-spacing: 11px;
        white-space: nowrap;
        height: auto;
        width: 100%;
        position: absolute;
        bottom: 0;
        overflow: hidden;
        @include phone{
            letter-spacing: 8px;
        }
        
    }
  
}
.menu__prod-price{
    display: inline-block;
    @include title-color;
    @include phone{
        font-size: 20px;
    }
}
.menu__prod-desc{
    display: block;
    flex: 1 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    @include phone{
        font-size: 16px;
    }
}
.menu__prod-price--pcs{
    margin: 0 auto;
}
