.navigation {
    width: 1200px;
    height: 240px;
    margin: 0 auto;
    padding: 0px 5px;
    font-family: "WEST____";
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-image: url(../../images/plank.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    

    
    
}
.navigation__link{
    text-decoration: none;
    text-shadow: 1px 1px 2px #c5c5c5;
    padding: 20px 0;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 700;
    position: relative;
    // width: 20%;
    // display: inline-block;
    flex: 0 0 20%;
    align-self: center;
    text-align: center;

    &:hover{
        color: $red-color;
        text-shadow: 2px 2px 3px #f7f7f7;
    }
}
.navigation__link--logo{
    width: 220px;
    height: auto;

}
.navigation__logo-img{
    width: auto;
    height: 200px;
}
.navigation__btn{
    display: none;
}